*{
  background-color: #1a1a1a;

}

/* Assuming you have a container for the entire navigation bar */
.navbar {
  background-color: #1a1a1a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

/* Logo style */
.logo {
  font-size: 40px;
  font-weight: bold;
  color: #00bfff;
}

/* Dropdown styles */
.currency-dropdown,
.crypto-dropdown,.buy-btn {
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 6px;
 
  border-radius: 30px;
  width: 100px;
  height: 40px;
  font-size: 10px;
}

/* Button styles */

.telegram-btn {
  background-color: #00bfff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

/* .buy-btn:hover,
.telegram-btn:hover {
  background-color: #0080ff;
  width: 30px;
} */

/* Notification icon style */
.notification {
  background-color: #ff4500;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  margin-right: 10px;
}

/* Adjust font size for notification count */
.notification span {
  font-size: 10px;
}

/* Additional styling for responsiveness, hover effects, etc. can be added as needed */


.dashboard {
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #1a1a1a;
  padding: 20px;
  margin-top: 100px;
}

.dashboard h1, .dashboard h2, .dashboard h3 {
  margin: 0;
  padding: 10px 0;
}

.dashboard table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dashboard th, .dashboard td {
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: left;
}

.dashboard th {
  background-color: #333333;
}

.h1headings{
  display: flex;
  justify-content:space-between;
  
}